* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #141414;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f2f2;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 100;
  transition:background-color 0.3s;
  background-color: ;
}
.logo {
  height: 25px;
  cursor: pointer;
}
.navbar-nav {
  display: flex;
  gap: 20px;
}
.nav-lik {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}
.nav-lik:hover {
  color: #b3b3b3;
}
.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-right i {
  font-size: 20px;
  cursor: pointer;
}
.fas{
  color:#999;
}
.fas:hover{
  color:#444343;

}
.profile-icon {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  cursor: pointer;
}
.hero {
  padding: 0 60px;
  height: 80vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("il.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.hero-content {
  max-width: 600px;
}
.hero-title {
  font-size: 48px;
  margin-bottom: 16px;
}
.hero-description {
  font-size: 18px;
  margin-bottom: 24px;
  color: #656565;
}
.hero-button {
  display: flex;
  gap: 16px;
}
.btn {
  padding: 10px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  transition: all 0.3s;
  border: 2px solid #504c4c;

}
.btn-play {
  background-color: #fff;
  color: #000;
}
.btn-play:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.btn-more-info:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.container {
  max-width: 100%;
  padding: 0 4%;
}
.content-section {
  margin-bottom: 50px;
}
.section-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #b3b3b3;
  letter-spacing: 0.5px;
  margin-left: 0px;
}
.content-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}
.content-row::-webkit-scrollbar {
  height: 8px;
}
.content-row::-webkit-scrollbar-track {
  background: transparent;
}
.content-row::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
.content-card {
  position: relative;
  min-width: 250px;
  height: 140px;
  border-radius: 12px;
  flex-shrink: 0;
  transition: all 0 3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.content-card:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
.content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: brightness 0.3s ease;
}
.content-card:hover img {
  filter: brightness(0.4);
}
.netflix-badge {
  position: relative;
  top: 8px;
  left: 3px;
  background-color: #650914;
  color: #white;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14 px;
  z-index: 2;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  color: white;
}
.content-card:hover .card-overlay {
  opacity: 1;
}
.overlay-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.overlay-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.overlay-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.overlay-cotrol {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}
.control-btn {
  border-radius:10px;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 2px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  font-size: 14px;
}
.control-btn:hover {
  background: rgba(17, 17, 17, 0.3);
  transform: scale(1.1);
}
.play-btn .thumbs-btn .check-btn .more-btn {
  background: white;
  color: #000;
}
.play-btn .thumbs-btn .check-btn .more-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}
.overlay-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}
.info-batch {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
}
.play-btn::before {
  content: "▶";
}
.check-btn::before {
  content: "✓";
}
.thumbs-btn::before {
  content: "👍";
}
.more-btn::before {
  content: "^";
}
.content-card::before {
  content:
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}
.footer{
  background-color: #1f1e1e;
  padding:    40px    60px;
}
.footer-liks  a{
  color:#999;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 30px;

}
.icos{
   margin-bottom:20px;
}
.icos   a{
  color:#999;
  margin-right: 20px;
  font-size: 20px;
} 
.footer-liks{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;

}
.footer-liks a:hover{
  text-decoration: underline;
}
.sert{
  padding: 8px    16px;
  font-size: 12px;
  cursor:pointer;
  background-color: transparent;
  color:#999;
  border:1px  solid   #999;
  border-radius: 5px;
  transition: all 0.3s;


}
.ser{
  margin-bottom: 20px;
  margin-top: 11px;
  font-size: 12px;
}
.ser:hover{
  background-color: #444343;
}
.foo{
  font-size: 10px;
  color:#999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
  
  height: 1px;
  border-top:1px  #999;
  border-color:#999;



}
